<footer class="font-lato mb-3 border-t border-primary-gray">
  <div class="bg-primary-dark-gray py-8">
    <div class="max-w-screen-xl mx-auto px-5 text-lg">
      <h2 class="text-xl md:text-2xl lg:text-4xl text-white !leading-snug">
        Resiliency Counseling <br> Group LLC
      </h2>
    </div>
  </div>
  <div class="max-w-screen-xl mx-auto px-5 pt-3 text-sm md:text-base lg:text-lg text-primary-gray">
    <span class="px-1">&copy;</span> 2022 by
    <span class="text-primary">{{ .Site.Params.Author }}</span> 
  </div>
</footer>

<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
