<header class="navbar fixed top-0 left-0 w-full z-50 bg-light text-xs md:text-base">
  <div class="relative z-10 bg-primary-purple">
    <div class="main-container flex items-center justify-between text-primary-white py-2">
      <div class="flex items-center justify-between md:justify-center gap-12 w-full md:w-auto">
        <div class="flex items-center justify-center gap-2 font-medium">
          <svg class="w-3 md:w-4" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 4L10 9L2 4V2L10 7L18 2M18 0H2C0.89 0 0 0.89 0 2V14C0 14.5304 0.210714 15.0391 0.585786 15.4142C0.960859 15.7893 1.46957 16 2 16H18C18.5304 16 19.0391 15.7893 19.4142 15.4142C19.7893 15.0391 20 14.5304 20 14V2C20 1.46957 19.7893 0.960859 19.4142 0.585786C19.0391 0.210714 18.5304 0 18 0Z" fill="#F5F7FB"/>
            </svg>
            {{ .Site.Params.Email }}
        </div>
        <div class="flex items-center justify-center gap-2 font-medium">
          <svg class="w-3 md:w-4" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.62 7.79C5.06 10.62 7.38 12.94 10.21 14.38L12.41 12.18C12.69 11.9 13.08 11.82 13.43 11.93C14.55 12.3 15.75 12.5 17 12.5C17.2652 12.5 17.5196 12.6054 17.7071 12.7929C17.8946 12.9804 18 13.2348 18 13.5V17C18 17.2652 17.8946 17.5196 17.7071 17.7071C17.5196 17.8946 17.2652 18 17 18C12.4913 18 8.1673 16.2089 4.97918 13.0208C1.79107 9.8327 0 5.50868 0 1C0 0.734784 0.105357 0.48043 0.292893 0.292893C0.48043 0.105357 0.734784 0 1 0H4.5C4.76522 0 5.01957 0.105357 5.20711 0.292893C5.39464 0.48043 5.5 0.734784 5.5 1C5.5 2.25 5.7 3.45 6.07 4.57C6.18 4.92 6.1 5.31 5.82 5.59L3.62 7.79Z" fill="#F5F7FB"/>
          </svg>
          {{ .Site.Params.Phone }}          
        </div>
      </div>
      <div class="hidden md:flex items-center justify-center gap-5">
        <a href="#" class="hover:opacity-80 transition">
          <img src="/assets/images/facebook.svg" alt="facebook">
        </a>
        <a href="#" class="hover:opacity-80 transition">
          <img src="/assets/images/instagram.svg" alt="instagram">
        </a>
        <a href="#" class="hover:opacity-80 transition">
          <img src="/assets/images/twitter.svg" alt="twitter">
        </a>
        <a href="#" class="hover:opacity-80 transition">
          <img src="/assets/images/youtube.svg" alt="youtube">
        </a>
      </div>
    </div>
  </div>

  <div x-data="{openMenu: false}" class="bg-white shadow-lg">
    <div class="main-container flex items-center justify-between">
      <div class="relative z-10 bg-white flex items-center justify-between w-full ">
        <a href="/">
          <img class="w-16 md:w-auto" src="/assets/images/company-logo.png" alt="company logo">
        </a>
        <button @click="openMenu = !openMenu" class="block md:hidden">
          <svg x-show="!openMenu" width="32" height="32" viewBox="0 0 20 20"><path fill="currentColor" d="M3 11h14V9H3v2zm0 5h14v-2H3v2zM3 4v2h14V4H3z"/></svg>
          <svg x-cloak x-show="openMenu" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6Z"/></svg>
        </button>
      </div>
      <nav class="absolute md:static top-[100px] left-0 flex flex-col md:flex-row items-center justify-center gap-6 md:gap-12 w-full md:w-auto font-medium text-primary-gray bg-white md:bg-transparent py-12 md:py-0 text-lg md:text-base transition duration-500" :class="!openMenu ? '-translate-y-[150%] md:translate-y-0' : 'translate-y-0'">
        <a href="/" class="hover:opacity-80 whitespace-nowrap">Home</a>
        <div x-data="{openMenu: false}" class="relative mr-5">
          <button @click="openMenu = !openMenu" class="flex items-center justify-center gap-4 hover:opacity-80 whitespace-nowrap">
            About
            <div class="absolute top-1/2 -translate-y-1/2 left-full pl-5 -mb-0.5">
              <svg class="w-3" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.41 0.0800171L6 4.67002L10.59 0.0800171L12 1.50002L6 7.50002L0 1.50002L1.41 0.0800171Z" fill="currentColor"/>
              </svg>
            </div>
          </button>
          <div x-cloak x-show="openMenu" @click.outside="openMenu = false" class="absolute top-full left-1/2 -translate-x-1/2 md:left-0 md:translate-x-0 bg-primary-yellow py-3 pl-5 pr-5 md:pr-16 mt-2 space-y-3 flex flex-col w-max text-center md:text-left">
            <a href="/about-mission-statment" class="hover:opacity-80 whitespace-nowrap">Mission Statment</a>
            <a href="/about-company" class="hover:opacity-80 whitespace-nowrap">About The Company</a>
          </div>
        </div>
        <a href="/meet-our-staff" class="hover:opacity-80 whitespace-nowrap">Meet Our Staff</a>
        <a href="/services" class="hover:opacity-80 whitespace-nowrap">Services</a>
        <a href="/insurance" class="hover:opacity-80 whitespace-nowrap">Insurance</a>
        <a href="/blog" class="hover:opacity-80 whitespace-nowrap">Blog</a>
      </nav>
    </div>
  </div>
</header>

