{{ define "main" }}
<main class="pt-32 max-w-screen-xl px-5 mx-auto space-y-52">
  <section class="mt-10">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-10">
      {{ range .Pages }}
        {{if not (in .Params.IsIndex true)}}
          {{ partial "components/post-card.html" (dict 
            "resources" .Resources
            "date" .Date.Local
            "params" .Params
            "summary" .Summary
            "url" .RelPermalink
          )}}
        {{ end}}
      {{end}}
    </div>
  
  </section>
</main>
{{ end }}
